.ez {
color: red;
font-size: 2cm;
font-family: cursive;
}
.hard {
color: green;
font-size: 2cm;
font-family: cursive;
}
div {
    text-align: center;
}
body {
background-color: orange;
border: 0.15cm red solid;
height: 900px;








}
img {
border:0.15cm red solid;
height: 10cm;


}

ul {
text-align: center;
font-size: 0.8cm;
font-family: cursive;
}