body {
background-color: rgb(0, 206, 89);
color: red;
font-family: cursive;
font-size: 1cm;
text-align: center;
border:0.4cm red solid;
}
#part1  h2 {
color: green;
background-color: brown;
text-align: center;
font-size: 1cm;
font-family: cursive;
}
 #part1 h1 {
     color: rgb(139, 42, 3);
     font-family: cursive;
     text-align: center;
     font-size: 1cm;
 }
 #part1 {
font-size: 0.6cm;
text-align: left;
font-family: cursive;
 }

 img {
     text-align: center;
     border: 0.1cm red solid;
     height:700px;
 }
 a {
    font-size: 0.4cm;
    font-family: initial;
 }
 





 